---
import CModalWindow from "../../custom/CModalWindow/CModalWindow.astro";
import FormSignUp from "../../forms/FormSignUp.astro";
import FormSignIn from "../../forms/FormSignIn.vue";
import UserInfo from "./UserInfo.vue";
---

<header>
  <nav>
    <a href="/">Home</a>
    <a href="/sign-in">Sign In</a>
    <a href="/sign-up">Sign Up</a>
    <UserInfo client:only />
  </nav>
  <CModalWindow id="sign-up-modal">
    <FormSignUp />
  </CModalWindow>
  <CModalWindow id="sign-in-modal">
    <FormSignIn client:only />
  </CModalWindow>
</header>

<style lang="postcss" is:global>
  header {
    height: 50px;
    display: flex;
    background-color: #36454f;
    justify-content: center;
    gap: 20px;
    nav {
      display: flex;
      gap: 20px;
      align-items: center;
      > a {
        text-decoration: none;
        padding: 10px 20px;
        background-color: #fff;
        color: #000;
      }
    }
  }
</style>
