---
import CModalWindow from "../../custom/CModalWindow/CModalWindow.astro";
import FormSignUp from "../../forms/FormSignUp.astro";
import FormSignIn from "../../forms/FormSignIn.vue";
import UserInfo from "./UserInfo.vue";
---

<header class="wrap">
  <nav>
    <a href="/">Home</a>
    <a href="/sign-in">Sign In</a>
    <a href="/sign-up">Sign Up</a>
    <UserInfo client:only />
  </nav>
  <CModalWindow id="sign-up-modal">
    <FormSignUp />
  </CModalWindow>
  <CModalWindow id="sign-in-modal">
    <FormSignIn client:only />
  </CModalWindow>
</header>

<style lang="postcss" is:global>
  header {
    height: var(--s-12);
    display: flex;
    background-color: var(--c-bg-secondary);
    justify-content: center;
    gap: var(--s-5);
    width: 100%;
    nav {
      display: flex;
      gap: var(--s-5);
      align-items: center;
      > a {
        text-decoration: none;
        padding: var(--s-3) var(--s-5);
        background-color: #fff;
        color: var(--c-text);
      }
    }
  }
</style>
