---
export interface Props {
  name: string;
  id?: string;
}
const { name, id } = Astro.props;
---

<div class="custom-form">
  <form name={name} id={id}>
    <slot />
  </form>
</div>
<style lang="postcss" is:global>
  .custom-form {
    > form {
      display: grid;
      gap: 20px;
    }
  }
</style>
