---
import Layout from "../layouts/Layout.astro";
import PostShort from "../components/post/PostShort.astro";
import { store } from "../models/store";
---

<Layout title="Welcome to Astro.">
  <section id="articles">
    <h2>Articles:</h2>
    {
      store.posts.map((p) => {
        if (p.status === "published") {
          return <PostShort post={p} />;
        }
      })
    }
  </section>
</Layout>
