---
import Layout from "../layouts/Layout.astro";
import PostShort from "../components/post/PostShort.astro";
import { store } from "../models/store";
---

<Layout title="Welcome to Astro.">
  <h2>Articles:</h2>
  {store.posts.map((p) => <PostShort post={p} />)}
</Layout>
