---
import FormSignIn from "../components/forms/FormSignIn.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section id="sign-in" class="wrap">
    <FormSignIn client:visible />
  </section>
</Layout>
