---
import FormSignUp from "../components/forms/FormSignUp.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section id="sign-up" class="wrap">
    <FormSignUp />
  </section>
</Layout>
