---
export interface Props {
  id: string;
}
const { id } = Astro.props;
---

<div class="modal-window" id={id}>
  <div class="modal-window-content">
    <span class="modal-window-content-close-btn">&times;</span>
    <slot />
  </div>
</div>
<script>
  import { modalClose } from "../../utils";

  const modalCloseButtons = document.querySelectorAll(
    ".modal-window-content-close-btn"
  );
  modalCloseButtons.forEach((b) => {
    b.addEventListener("click", () => {
      const grandParent = (b as HTMLElement).parentElement?.parentElement;
      if (grandParent) {
        modalClose(grandParent.id);
      }
    });
  });
</script>
<style lang="postcss" is:global>
  .modal-window {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: none;

    &-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;

      &-close-btn {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        &:hover,
        &:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
</style>
