---
import type { Post } from "../../models/post";
import CommentsSection from "../comments/CommentsSection.vue";

export interface Props {
  post: Post;
}
const { post } = Astro.props;
---

<article>
  <h1>{post.title}</h1>
  <div set:html={post.content} />
</article>
<CommentsSection post={post} client:only />
