body {
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  overflow: hidden;
  background: var(--c-bg);
  color: var(--c-text);
  main {
    overflow: auto;
    padding: var(--s-20) 0;
  }
}
